@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
body {
    
    /* background: linear-gradient(to right, rgb(0, 0, 0), rgb(5, 5, 77)); */
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: Nova Square;
    margin: 0;
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
}

header {
    background-color: black;
    padding: 20px;
    text-align: center;
}

header table {
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
}

header h1 {
    margin: 20px 0;
    font-size: 2.5rem;
}

header a {
    color: rgb(75, 144, 204);
    font-size: 1.2rem;
    text-decoration: none;
    padding: 10px 20px;
}

header {
    background-color: black;
    padding: 20px;
    text-align: center;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: rgb(75, 144, 204);
    font-size: 1.2rem;
    text-decoration: none;  
}



.logo {

    font-size: 1.8rem;
    font-weight: bold;
    color: #91a3f2;
    padding-top: 12px;
}



table {
    width: 50%;
    max-width: 1050px;
    margin: 20px auto;
}

img {
    box-shadow: 0 4px 40px rgb(6, 6, 152);
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
    margin: 0 auto;
}

h1 {
    
    font-size: 2rem;
    margin: 10px 0;
}

h3 {
    font-size: 1.5rem;
    color: #91a3f2;
    margin-bottom: 10px;
}

.btn {
    box-shadow: 0 4px 40px rgb(6, 6, 152);
    display: inline-block;
    padding: 10px 20px;
    background-color: #91a3f2;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 8px;
    
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: black;
    color: #91a3f2;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
}

hr {
    border: 1px solid #91a3f2;
    margin: 40px 0;
}

.project-table {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.project-table td {
    padding: 10px;
}

.project-table img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 10px;
    
}


.about-table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
}

.about-table td {
    padding: 20px;
}

.about-table h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #91a3f2;
}

#contact {
    
    padding: 40px 0;
    color: white;
    text-align: center;
}

#contact a {
    color: #91a3f2;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 1rem;
}
.content {   
    box-shadow: 0 4px 30px rgb(32, 107, 227);
    line-height: 1.9;   
    padding: 20px;
    border-radius: 8px;  
    width: 100%;    
    border: white 1px solid;
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

@media (max-width: 900px) {
    
    .logo{
        font-size:1rem ;
    }

    nav ul li a{
        font-size:1rem ;
    }

    header h1 {
        font-size: 2rem;
    }

    header a {
        display: block;
        padding: 10px 0;
    }

    .project-table img {
        max-width: 100%;
    }

    table, .about-table {
        width: 90%;
    }

    .project-table td, .about-table td {
        padding: 10px;
    }

    p {
        font-size: 1rem;
    }
    .content {
        width: 90%;
        padding: 10px;
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.8rem;
    }
    .logo{
        font-size:0.8rem ;
    }

    img {
        max-width: 150px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .btn {
        font-size: 1rem;
    }

    p {
        font-size: 0.9rem;
    }

    hr {
        margin: 20px 0;
    }

    #contact {
        padding: 20px 0;
    }

    footer {
        font-size: 0.9rem;
    }
    .content {
        width: 80%;
        padding: 10px;
        font-size: 0.5rem;
    }
}